.header {
  background-color: var(--background-color);
  color: var(--foreground-color);
  text-align: center;
}
.header__titel {
  margin-top: 4rem;
  /* padding: 2rem 0 0rem; */
}

.header__subtitel {
  margin-bottom: 2rem;
}
