.setTooltip {
  background-color: var(--action-background);
  padding: 1rem;
  border-radius: 5px;
}
.setList {
  margin: 1rem auto;
  text-align: center;
}

.setTitle {
  margin: auto;
  color: var(--action-text);
  letter-spacing: 2px;
  text-shadow: 4px 0 1px black;
  font-family: var(--titelFont);
  font-size: 1.5rem;
}

.setList form {
  margin: 1rem;
}

.setList input {
  padding: 0.3rem 1rem;
}

.setList__set {
  margin: 0.5rem;
  min-width: 80px;
  font-size: 1rem;
  background-color: purple;
  color: white;
  border: var(--action-text);
  border-radius: 5px;
}

.tippy-content {
  padding: 3px;
}
